.emoji-container{
    background-color:#ffffff33;
    border-radius:14px;
    border:1px solid #ffffff30;
    list-style-type:none;
    width:25%;
    height:30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
    margin:7px;
}
.btn{
    background:none;
    border:none;
    outline:none;
    cursor:pointer;
}