.nav-bar{
    background-color:#ffffff33;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-bottom:2px solid #ffffff33;
}
.logo-container{
    display:flex;
    margin-left:20px;
    
}

.score-container{
    display:flex;
    margin-right:20px;
   
}
.game-name{
    color: #ffffff;
    font-family:"Roboto";
    font-size:17px;
    font-weight:600;
    padding-left:7px;

}
.game-score{

    color: #ffffff;
    font-family:"Roboto";
    font-size:17px;
    padding:10px;


}